@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* worklist */
.worklist {
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
  color: var(--grays-9);
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.worklist h2 {
  margin-top: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.worklist .tbl-base > thead > tr,
.worklist .tbl-base > tbody > tr {
  border-bottom: .1rem solid var(--grays-1);
}
.worklist .tbl-base > thead > tr > th {
  height: 4.6rem;
  padding: 1.6rem 1.6rem;
  font-weight: 400;
  text-align: left;
}
.worklist .tbl-base > tbody > tr > th,
.worklist .tbl-base > tbody > tr > td {
  height: 4.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
}
.worklist .tbl-base a {
  color: var(--grays-9);
  font-weight: 400;
}
.worklist .col-no { 
  width: 7rem; 
  text-align: center !important; 
}
.worklist .col-date {
  width: 15rem; 
}
.worklist .legend {
  display: flex;
  justify-content: flex-end;
}
.worklist .legend ul {
  display: flex;
  align-items: center;
  gap: .6rem;
}
.worklist .legend li {
  display: inline-block;
  padding: .2rem 1rem;
  background: var(--grays-0);
  border: .1rem solid var(--grays-1);
  border-radius: .4rem;
}
.worklist .legend li button {
  color: var(--grays-8);
  font-size: 1.3rem;
}
.worklist .state-new td {
  background-color: #fff2e2;
}
.worklist .state-ing td {
  background-color: #f0fffa;
}
.worklist .state-edit td {
  background-color: #d2e7ff;
}
.worklist .state-del td {
  background-color: #e6e6e6;
  color: #ff9999;
  text-decoration: line-through;
}

/* component */
.base-wrap.component .wrap-account {
  display: none;
}
.component .base-aside.guide .lnb-link::before {
  display: none;
}
.component code, 
.component pre {
  background: #fff !important;
}
.component pre {
  margin-top: 2rem;
}
.component .component-h1 {
  padding: 2rem 0;
  color: var(--black);
  font-size: 4rem;
  font-weight: 400;
}
.component .component-h2 {
  margin: 5rem 0 1.2rem;
  color: var(--black);
  font-size: 1.8rem;
  line-height: 1.5;
}
.component .component-h3 {
  margin: 1.2rem 0 1rem;
  color: var(--black);
  font-size: 2rem;
  line-height: 1.5;
}
.component .component-title {
  margin: 2rem 0 .8rem;
  color: var(--black);
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.8;
}
.component .component-title:first-child {
  margin-top: 0;
}
.component .component-subtitle {
  margin-bottom: .8rem;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 600;
}
.component .component-desc {
  color: var(--black);
  font-size: 1.6rem;
  line-height: 1.5;
}
.component .component-subtext {
  color: var(--grays-4);
  font-size: 1.4rem;
}
.component .wrap-group {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.component .wrap-group.select {
  gap: 1rem;
}
.component .component-area:not(:first-child) {
  margin-top: 4rem;
}
.component .list-base li {
  font-size: 1.6rem;
  line-height: 1.5;
}
.component .list-base[data-bullet=dot] > li::before {
  top: 1.5rem;
}
.component .component-box {
  max-width: 50rem;
  padding: 2rem 2rem;
  margin-top: 3rem;
  background: var(--white);
  border-radius: 1rem;
}
.component .component-box em {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 3.2rem;
  font-weight: 400;
}
.component .component-box p {
  font-size: 1.8rem;
  line-height: 1.6;
}
.component .wrap-btn .btn {
  flex: initial;
}
.component .component-link {
  margin-bottom: 2rem;
}
.component .component-link .link {
  color: var(--system-3);
  font-size: 2rem;
}
.component .wrap-color,
.component .wrap-txtcolor,
.component .wrap-bordercolor {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
.component .color-item {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  border: .1rem solid var(--grays-1);
  border-radius: 1.2rem;
  overflow: hidden;
}
.component .color-item .color {
  width: 100%;
  height: 100%;
}
.component .color-item .color-code {
  padding: 1rem 1.2rem .6rem;
  color: var(--grays-4);
  background: #fff;
  border-top: .1rem solid var(--grays-1);
  border-radius: 0 0 1.2rem 1.2rem;
}
.component .color-item .color-code em {
  display: block;
  margin-bottom: .4rem;
  color: var(--black);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2rem;
}
.component .bordercolor-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  margin-left: 1rem;
  border-radius: 1.2rem;
}

.component .bordercolor-item {
  border-width: .2rem;
  border-style: solid;
  border-radius: 50%;
}
.component .color-item em {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.2rem;
}
.component .txtcolor-item {
  margin-top: 1rem;
}
.component .txtcolor-item:not(:first-child) {
  margin-left: 2rem;
}
.component .wrap-flex .wrap-tooltip {
  margin-right: 1.4rem;
}
.component .toggle {
  margin-right: 1.4rem;
}