@charset "UTF-8";

/* tui-datepicker custom */
.datepicker {
  display: flex;
  align-items: center;
  width: 100%;
}
.datepicker .tui-datepicker-input {
  width: 100%;
  height: 3.2rem;
  border: .1rem solid var(--grays-3);
  border-radius: .4rem;
  background-position: calc(100% - 1.2rem);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32812 8H10.6615V6.66667H5.32812V8Z' fill='%23494949'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16146 2.66667H10.8281V1.625H12.1615V2.66667H14.3958V14.3958H1.59375V2.66667H3.82812V1.625H5.16146V2.66667ZM3.82812 4V4.9375H5.16146V4H10.8281V4.9375H12.1615V4H13.0625V13.0625H2.92708V4H3.82812Z' fill='%23494949'/%3E%3C/svg%3E%0A");
}
.datepicker .tui-datepicker-input > input {
  padding: .8rem 3.2rem .8rem 1.2rem;
  color: var(--grays-9);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
}
.datepicker-to {
  display: inline-block;
  width: .8rem;
  margin: 0 .4rem;
  color: var(--grays-9);
}

.datepicker-div .tui-calendar-header-info {
  display: none;
}
.datepicker-div .tui-datepicker {
  overflow: hidden;
  z-index: 1000;
  padding: 0 2.4rem 1.2rem;
  border: 0;
  border-radius: 1.6rem;
  box-shadow: 0 .2rem 2rem 0 rgba(0, 0, 0, .16);
}
.datepicker-div .tui-datepicker-type-date,
.datepicker-div .tui-calendar {
  width: 23.8rem;
}
.datepicker-div .tui-calendar .tui-calendar-title {
  color: var(--black);
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.014px;
}
.datepicker-div .tui-calendar .tui-calendar-header-inner {
  padding: 2rem 0 1.2rem;
  height: 5.2rem;
}
.datepicker-div .tui-calendar .tui-calendar-body-inner {
  color: var(--grays-9);
}
.datepicker-div .tui-calendar th {
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: -0.012px;
}
.datepicker-div .tui-calendar .tui-calendar-body-header th {
  color: var(--grays-9);
}
.datepicker-div .tui-calendar .tui-calendar-body-header th.tui-sun,
.datepicker-div .tui-calendar td:not(.tui-is-selected).tui-calendar-sun {
  color: var(--system-1);
}
.datepicker-div .tui-calendar td {
  color: var(--grays-7);
}
.datepicker-div .tui-calendar .tui-calendar-next-month, 
.datepicker-div .tui-calendar .tui-calendar-prev-month {
  color: var(--grays-3);
}
.datepicker-div .tui-calendar td.tui-is-blocked {
  color: var(--grays-3);
}
.datepicker-div .tui-calendar .tui-calendar-next-month.tui-calendar-date {
  visibility: visible;
}
.datepicker-div .tui-calendar th {
  height: 1.6rem;
  padding: 1.6rem 0 .8rem;
}
.datepicker-div .tui-calendar td {
  height: 3.4rem;
}
.datepicker-div .tui-calendar-btn {
  top: 2.2rem;
  width: 1.6rem;
  height: 1.6rem;
}
.datepicker-div .tui-calendar-month .tui-calendar-body,
.datepicker-div .tui-calendar-year .tui-calendar-body {
  width: 100%;
  margin-top: 1.6rem;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after,
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -.8rem;
  background-position: 0 0;
}
.datepicker-div .tui-calendar .tui-calendar-btn-prev-month:after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-prev-year:after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M10 3.59998L6 7.99998L10 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-calendar .tui-calendar-btn-next-month::after,
.datepicker-div .tui-calendar.tui-calendar-month .tui-calendar-btn-next-year::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3e%3cpath d='M6 3.59998L10 7.99998L6 12.4' stroke='%23A5AAAE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
}
.datepicker-div .tui-datepicker .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected {
  position: relative;
  z-index: 1;
  background-color: var(--primary);
}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected {
  background-color: transparent;
}
.datepicker-div .tui-datepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-calendar-week .tui-is-selectable.tui-is-selected::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #007CEF;
  content: "";
  transform: translate(-50%, -50%);
}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover {
  color: #007CEF;
}
.datepicker-div .tui-datepicker .tui-is-selectable:not(.tui-is-selected):hover,
.datepicker-div .tui-datepicker.tui-rangepicker .tui-is-selected-range {
  background-color: transparent;
}
.datepicker-div.has-po-right .tui-datepicker {
  right: 0;
}
.datepicker-div.has-po-bottom .tui-datepicker {
  bottom: 100%;
}
.wrap-datepicker {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 36rem;
  padding: 0 3.2rem 0 .6rem;
  border: .1rem solid var(--grays-3);
  border-radius: .4rem;
  background-color: #fff;
  background-position: calc(100% - 1.2rem) 50%;
  background-repeat: no-repeat;
  background-size: 1.6rem;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.32812 8H10.6615V6.66667H5.32812V8Z' fill='%23494949'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16146 2.66667H10.8281V1.625H12.1615V2.66667H14.3958V14.3958H1.59375V2.66667H3.82812V1.625H5.16146V2.66667ZM3.82812 4V4.9375H5.16146V4H10.8281V4.9375H12.1615V4H13.0625V13.0625H2.92708V4H3.82812Z' fill='%23494949'/%3E%3C/svg%3E%0A");
}

.wrap-datepicker .datepicker .tui-datepicker-input {
  border: 0;
  border-radius: 0;
  background: none;
}
.wrap-datepicker .datepicker .tui-datepicker-input > input {
  padding: 0 .6rem;
}

.area-datepicker {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .8rem;
}
.area-datepicker .btn-options {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.area-datepicker .btn-options .btn {
  padding: 0 1.2rem;
  font-weight: 700;
}
.area-datepicker .btn-options .btn.is-active {
  color: var(--white);
  background-color: var(--primary);
}