<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAVELOVER GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="colors"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Color</h1>
      <h2 class="component-title">Primary Color</h2>
      <div class="wrap-color">
        <div class="color-item">
          <div class="color bg-primary"></div>
          <p class="color-code"><em>Primary</em> #1E8162</p>
        </div>
      </div>

<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-primary">&lt;/div></code>
</pre>
      <h2 class="component-title">Secondary Color</h2>
      <div class="wrap-color">
        <div class="color-item">
          <div class="color bg-secondary-1"></div>
          <p class="color-code"><em>Secondary1</em> #145943</p>
        </div>
        <div class="color-item">
          <div class="color bg-secondary-2"></div>
          <p class="color-code"><em>Secondary2</em> #35D9B5</p>
        </div>
        <div class="color-item">
          <div class="color bg-secondary-3"></div>
          <p class="color-code"><em>Secondary3</em> #2F60BF</p>
        </div>
        <div class="color-item">
          <div class="color bg-secondary-4"></div>
          <p class="color-code"><em>Secondary4</em> #123D92</p>
        </div>
        <div class="color-item">
          <div class="color bg-secondary-5"></div>
          <p class="color-code"><em>Secondary5</em> #6639A0</p>
        </div>
        <div class="color-item">
          <div class="color bg-secondary-6"></div>
          <p class="color-code"><em>Secondary6</em> #451B7B</p>
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-secondary-1">&lt;/div>
&lt;div class="bg-secondary-2">&lt;/div>
&lt;div class="bg-secondary-3">&lt;/div>
&lt;div class="bg-secondary-4">&lt;/div>
&lt;div class="bg-secondary-5">&lt;/div>
&lt;div class="bg-secondary-6">&lt;/div></code>
</pre>
      <h2 class="component-title">Gray Scale</h2>
      <div class="wrap-color">
        <div class="color-item">
          <div class="color bg-white"></div>
          <p class="color-code"><em>White</em> #FFFFFF</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-m"></div>
          <p class="color-code"><em>Gray25</em> #FAFAFA</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-0"></div>
          <p class="color-code"><em>Gray50</em> #F5F5F5</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-1"></div>
          <p class="color-code"><em>Gray100</em> #DFDFDF</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-2"></div>
          <p class="color-code"><em>Gray200</em> #CACACA</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-3"></div>
          <p class="color-code"><em>Gray300</em> #B5B5B5</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-4"></div>
          <p class="color-code"><em>Gray400</em> #9F9F9F</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-5"></div>
          <p class="color-code"><em>Gray500</em> #8A8A8A</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-6"></div>
          <p class="color-code"><em>Gray600</em> #767676</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-7"></div>
          <p class="color-code"><em>Gray700</em> #5F5F5F</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-8"></div>
          <p class="color-code"><em>Gray800</em> #494949</p>
        </div>
        <div class="color-item">
          <div class="color bg-grays-9"></div>
          <p class="color-code"><em>Gray900</em> #343434</p>
        </div>
        <div class="color-item">
          <div class="color bg-black"></div>
          <p class="color-code"><em>Black</em> #000000</p>
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-white">&lt;/div>
&lt;div class="bg-grays-m">&lt;/div>
&lt;div class="bg-grays-0">&lt;/div>
&lt;div class="bg-grays-1">&lt;/div>
&lt;div class="bg-grays-2">&lt;/div>
&lt;div class="bg-grays-3">&lt;/div>
&lt;div class="bg-grays-4">&lt;/div>
&lt;div class="bg-grays-5">&lt;/div>
&lt;div class="bg-grays-6">&lt;/div>
&lt;div class="bg-grays-7">&lt;/div>
&lt;div class="bg-grays-8">&lt;/div>
&lt;div class="bg-grays-9">&lt;/div>
&lt;div class="bg-black">&lt;/div></code>
</pre>
      <h2 class="component-title">System Color</h2>
      <div class="wrap-color">
        <div class="color-item">
          <div class="color bg-system-1"></div>
          <p class="color-code"><em>Error</em> #FA2829</p>
        </div>
        <div class="color-item">
          <div class="color bg-system-2"></div>
          <p class="color-code"><em>Warning</em> #FFAA00</p>
        </div>
        <div class="color-item">
          <div class="color bg-system-3"></div>
          <p class="color-code"><em>Success</em> #00A04A</p>
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-system-1">&lt;/div>
&lt;div class="bg-system-2">&lt;/div>
&lt;div class="bg-system-3">&lt;/div></code>
</pre>
  <h2 class="component-title">Button Color</h2>
      <div class="wrap-color">
        <div class="color-item">
          <div class="color bg-primary"></div>
          <p class="color-code"><em>Primary</em> #1E8162</p>
        </div>
        <div class="color-item">
          <div class="color bd-grays-2"></div>
          <p class="color-code"><em>line</em> #1E8162</p>
        </div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bg-primary">#1E8162&lt;/div>
&lt;div class="bd-grays-1">#D4D6DD&lt;/div></code>
</pre>
      <h2 class="component-title">Text Color</h2>
      <div class="wrap-txtcolor">
        <div class="txtcolor-item text-primary">text-primary</div>
        <div class="txtcolor-item text-grays-8">text-grays-8</div>
        <div class="txtcolor-item text-grays-7">text-grays-7</div>
        <div class="txtcolor-item text-grays-6">text-grays-6</div>
        <div class="txtcolor-item text-red">text-red</div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="text-primary">&lt;/div>
&lt;div class="text-grays-8">&lt;/div>
&lt;div class="text-grays-7">&lt;/div>
&lt;div class="text-grays-6">&lt;/div>
&lt;div class="text-red">&lt;/div></code>
</pre>
      <h2 class="component-title">Line Color</h2>
      <div class="wrap-bordercolor">
        <div class="bordercolor-item bd-primary"></div>
        <div class="bordercolor-item bd-grays-1"></div>
      </div>
<pre class="component-pre">
<code class="language-Markup">&lt;div class="bd-primary">&lt;/div>
&lt;div class="bd-grays-1">&lt;/div></code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>
</body>
</html>