<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAVELOVER GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="pagination"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Pagination</h1>
      <div class="wrap-pagination">
        <div class="pagination">
          <a href="#" class="pagination-link is-first"><span class="hidden">첫 페이지로 이동</span></a>
          <a href="#" class="pagination-link is-prev"><span class="hidden">이전 페이지로 이동</span></a>
          <a href="#" class="pagination-link is-current">1</a><!-- 현재 페이지 -->
          <a href="#" class="pagination-link">2</a>
          <a href="#" class="pagination-link">3</a>
          <a href="#" class="pagination-link">4</a>
          <a href="#" class="pagination-link">5</a>
          <a href="#" class="pagination-link">6</a>
          <a href="#" class="pagination-link">7</a>
          <a href="#" class="pagination-link">8</a>
          <a href="#" class="pagination-link">9</a>
          <a href="#" class="pagination-link">10</a>
          <a href="#" class="pagination-link is-next"><span class="hidden">다음 페이지 이동</span></a>
          <a href="#" class="pagination-link is-last"><span class="hidden">마지막 페이지로 이동</span></a>
      </div>
    </div>
<pre>
<code class="language-Markup">&lt;div class="wrap-pagination">
  &lt;div class="pagination">
    &lt;a href="#" class="pagination-link is-first">&lt;span class="hidden">첫 페이지로 이동&lt;/span>&lt;/a>
    &lt;a href="#" class="pagination-link is-prev">&lt;span class="hidden">이전 페이지로 이동&lt;/span>&lt;/a>
    &lt;a href="#" class="pagination-link is-current">1&lt;/a>&lt;!-- 현재 페이지 --&gt;
    &lt;a href="#" class="pagination-link">2&lt;/a>
    &lt;a href="#" class="pagination-link">3&lt;/a>
    &lt;a href="#" class="pagination-link">4&lt;/a>
    &lt;a href="#" class="pagination-link">5&lt;/a>
    &lt;a href="#" class="pagination-link">6&lt;/a>
    &lt;a href="#" class="pagination-link">7&lt;/a>
    &lt;a href="#" class="pagination-link">8&lt;/a>
    &lt;a href="#" class="pagination-link">9&lt;/a>
    &lt;a href="#" class="pagination-link">10&lt;/a>
    &lt;a href="#" class="pagination-link is-next">&lt;span class="hidden">다음 페이지 이동&lt;/span>&lt;/a>
    &lt;a href="#" class="pagination-link is-last">&lt;span class="hidden">마지막 페이지로 이동&lt;/span>&lt;/a>
  &lt;/div>
&lt;/div></code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/jquery/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>
</body>
</html>