<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAVELOVER GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="tables"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Tables</h1>
      <h2 class="component-title">Default - thead</h2>
      <table class="tbl-base">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>헤더1</th>
            <th>헤더2</th>
            <th>헤더3</th>
            <th>헤더4</th>
            <th>헤더5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>콘텐츠1</td>
            <td>콘텐츠2</td>
            <td>콘텐츠3</td>
            <td>콘텐츠4</td>
            <td>콘텐츠5</td>
          </tr>
          <tr>
            <td>콘텐츠1</td>
            <td>콘텐츠2</td>
            <td>콘텐츠3</td>
            <td>콘텐츠4</td>
            <td>콘텐츠5</td>
          </tr>
          <tr>
            <td>콘텐츠1</td>
            <td>콘텐츠2</td>
            <td>콘텐츠3</td>
            <td>콘텐츠4</td>
            <td>콘텐츠5</td>
          </tr>
        </tbody>
      </table>
<pre>
<code class="language-Markup">&lt;table class="tbl-base">
  &lt;colgroup>
    &lt;col>
    &lt;col>
    &lt;col>
    &lt;col>
    &lt;col>
  &lt;/colgroup>
  &lt;thead>
    &lt;tr>
      &lt;th>헤더 1&lt;/th>
      &lt;th>헤더 2&lt;/th>
      &lt;th>헤더 3&lt;/th>
      &lt;th>헤더 4&lt;/th>
      &lt;th>헤더 5&lt;/th>
    &lt;/tr>
  &lt;/thead>
  &lt;tbody>
    &lt;tr>
      &lt;td>콘텐츠 1&lt;/td>
      &lt;td>콘텐츠 2&lt;/td>
      &lt;td>콘텐츠 3&lt;/td>
      &lt;td>콘텐츠 4&lt;/td>
      &lt;td>콘텐츠 5&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>콘텐츠 1&lt;/td>
      &lt;td>콘텐츠 2&lt;/td>
      &lt;td>콘텐츠 3&lt;/td>
      &lt;td>콘텐츠 4&lt;/td>
      &lt;td>콘텐츠 5&lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;td>콘텐츠 1&lt;/td>
      &lt;td>콘텐츠 2&lt;/td>
      &lt;td>콘텐츠 3&lt;/td>
      &lt;td>콘텐츠 4&lt;/td>
      &lt;td>콘텐츠 5&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table></code>
</pre>
    <h2 class="component-title">Default - left</h2>
    <table class="tbl-base has-left">
      <colgroup>
        <col style="width: 20%;">
        <col>
        <col style="width: 20%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>원사정보</th>
          <td>
            <select class="inp-select">
              <option value="선택">선택</option>
              <option value="select2">셀렉트2</option>
              <option value="select3">셀렉트3</option>
            </select>
          </td>
          <th>원사코드</th>
          <td>
            <label class="lb-inp">
              <span class="lb-title hidden">원사코드</span>
              <input type="text" class="inp-base" placeholder="">
            </label>
          </td>
        </tr>
        <tr>
          <th>국문원사명</th>
          <td>
            <label class="lb-inp">
              <span class="lb-title hidden">국문원사명</span>
              <input type="text" class="inp-base" placeholder="">
            </label>
          </td>
          <th>보증보험기간</th>
          <td>
            <div class="datepicker">
              <div class="tui-datepicker-input">
                <input type="text" id="startpicker-inp1" aria-label="Date-Time">
                <div id="startpicker-div1" class="datepicker-div"></div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
<pre>
<code class="language-Markup">&lt;table class="tbl-base has-left">
  &lt;colgroup>
    &lt;col style="width: 20%;">
    &lt;col>
    &lt;col style="width: 20%;">
    &lt;col>
  &lt;/colgroup>
  &lt;tbody>
    &lt;tr>
      &lt;th>원사정보&lt;/th>
      &lt;td>
        &lt;select class="inp-select">
          &lt;option value="선택">선택&lt;/option>
          &lt;option value="select2">셀렉트2&lt;/option>
          &lt;option value="select3">셀렉트3&lt;/option>
        &lt;/select>
      &lt;/td>
      &lt;th>원사코드&lt;/th>
      &lt;td>
        &lt;label class="lb-inp">
          &lt;span class="lb-title hidden">원사코드&lt;/span>
          &lt;input type="text" class="inp-base" placeholder="">
        &lt;/label>
      &lt;/td>
    &lt;/tr>
    &lt;tr>
      &lt;th>국문원사명&lt;/th>
      &lt;td>
        &lt;label class="lb-inp">
          &lt;span class="lb-title hidden">국문원사명&lt;/span>
          &lt;input type="text" class="inp-base" placeholder="">
        &lt;/label>
      &lt;/td>
      &lt;th>보증보험기간&lt;/th>
      &lt;td>
        &lt;div class="datepicker">
          &lt;div class="tui-datepicker-input">
            &lt;input type="text" id="startpicker-inp1" aria-label="Date-Time">
            &lt;div id="startpicker-div1" class="datepicker-div">&lt;/div>
          &lt;/div>
        &lt;/div>
      &lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table></code>
</pre>
<h2 class="component-title">nodata</h2>
<table class="tbl-base">
  <colgroup>
    <col style="width: 5.6rem;">
  </colgroup>
  <thead>
    <tr>
      <th>번호</th>
      <th>헤더1</th>
      <th>헤더2</th>
      <th>헤더3</th>
      <th>헤더4</th>
      <th>헤더5</th>
    </tr>
  </thead>
  <tbody>
    <!-- 데이터 없는 CASE : 'no-result' 클래스 추가 -->
    <tr>
      <td colspan="6" class="no-result">검색 결과가 없습니다.</td>
    </tr>
  </tbody>
</table>

<pre>
<code class="language-Markup">&lt;table class="tbl-base">
  &lt;tbody>
    &lt;!-- 데이터 없는 CASE : 'no-result' 클래스 추가 --&gt;
    &lt;tr>
      &lt;td colspan="6" class="no-result">검색 결과가 없습니다.&lt;/td>
    &lt;/tr>
  &lt;/tbody>
&lt;/table></code>
</pre>

<h2 class="component-title">dl table</h2>
<div class="wrap-tbl">
  <dl class="tbl-dl">
    <dt>챌린지 진행 여부</dt>
    <dd>진행</dd>
  </dl>
  <dl class="tbl-dl">
    <dt>챌린지 진행 기간</dt>
    <dd>2024-09-01 00:00 ~ 2024-09-30 23:59</dd>
  </dl>
</div>
<pre>
<code class="language-Markup">&lt;div class="wrap-tbl">
  &lt;dl class="tbl-dl">
    &lt;dt>챌린지 진행 여부&lt;/dt>
    &lt;dd>진행&lt;/dd>
  &lt;/dl>
  &lt;dl class="tbl-dl">
    &lt;dt>챌린지 진행 기간&lt;/dt>
    &lt;dd>2024-09-01 00:00 ~ 2024-09-30 23:59&lt;/dd>
  &lt;/dl>
&lt;/div></code>
</pre>
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->
   
  <!-- js library -->
  <script src="../../resources/js/lib/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>

  <!-- page script -->
</body>
</html>