<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAVELOVER GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="tabs"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- base-content -->
    <main class="base-content">
      <h1 class="component-h1">Tabs</h1> 
      <!-- default -->
      <h2 class="component-title">Default</h2>
      <div class="ui-tab">
        <ul class="tab-menu">
          <li class="tab-item is-active"> <!-- 현재 활성화된 탭 -->
            <a href="#" class="tab-link" data-tab="tab1">TAP01</a>
          </li>
          <li class="tab-item">  
            <a href="#" class="tab-link" data-tab="tab2">TAP02</a>
          </li>
          <li class="tab-item">
            <a href="#" class="tab-link" data-tab="tab3">TAP03</a>
          </li>
        </ul>
        <div class="tab-contents">
          <div class="tab-content is-active" data-tab-content="tab1">content1</div> <!-- 현재 활성화된 탭 컨텐츠 -->
          <div class="tab-content" data-tab-content="tab2">content2</div>
          <div class="tab-content" data-tab-content="tab3">content3</div>
        </div>
      </div>
      <!-- //default -->
  <pre><code class="language-Markup">&lt;div class="ui-tab">
  &lt;ul class="tab-menu">
    &lt;li class="tab-item is-active"> &lt;!-- 현재 활성화된 탭 --&gt;
      &lt;a href="#" class="tab-link" data-tab="tab1">TAP01&lt;/a>
    &lt;/li>
    &ltli class="tab-item">  
      &lta href="#" class="tab-link" data-tab="tab2">TAP02&lt/a>
    &lt/li>
    &ltli class="tab-item">
      &lta href="#" class="tab-link" data-tab="tab3">TAP03&lt/a>
    &lt/li>
  &lt/ul>
  &ltdiv class="tab-contents">
    &ltdiv class="tab-content is-active" data-tab-content="tab1">content1&lt/div> &lt;!-- 현재 활성화된 탭 컨텐츠 --&gt;
    &ltdiv class="tab-content" data-tab-content="tab2">content2&lt/div>
    &ltdiv class="tab-content" data-tab-content="tab3">content3&lt/div>
  &lt/div>
&lt/div></code>
</pre>
      <!-- Round -->
      <h2 class="component-title">Round</h2>
      <div class="ui-tab is-round">
        <ul class="tab-menu">
          <li class="tab-item is-active"> <!-- 현재 활성화된 탭 -->
            <a href="#" class="tab-link" data-tab="roundtab4">TAP01</a>
          </li>
          <li class="tab-item">  
            <a href="#" class="tab-link" data-tab="roundtab5">TAP02</a>
          </li>
          <li class="tab-item">
            <a href="#" class="tab-link" data-tab="roundtab6">TAP03</a>
          </li>
        </ul>
        <div class="tab-contents">
          <div class="tab-content is-active" data-tab-content="roundtab4">content1</div> <!-- 현재 활성화된 탭 컨텐츠 -->
          <div class="tab-content" data-tab-content="roundtab5">content2</div>
          <div class="tab-content" data-tab-content="roundtab6">content3</div>
        </div>
      </div>
      <!-- //Round -->
<pre>
<code class="language-Markup">&lt;div class="ui-tab is-round">
  &lt;ul class="tab-menu">
    &lt;li class="tab-item is-active">
      &lt;a href="#" class="tab-link" data-tab="roundtab1">TAP01&lt;/a>
    &lt;/li>
    &lt;li class="tab-item">  
      &lt;a href="#" class="tab-link" data-tab="roundtab2">TAP02&lt;/a>
    &lt;/li>
    &lt;li class="tab-item">
      &lt;a href="#" class="tab-link" data-tab="roundtab3">TAP03&lt;/a>
    &lt;/li>
  &lt;/ul>
  &lt;div class="tab-contents">
    &lt;div class="tab-content is-active" data-tab-content="roundtab1">content1&lt;/div> 
    &lt;div class="tab-content" data-tab-content="roundtab2">content2&lt;/div>
    &lt;div class="tab-content" data-tab-content="roundtab3">content3&lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>

  <!-- vertical -->
  <h2 class="component-title">vertical</h2>
  <div class="ui-tab is-vertical">
    <ul class="tab-menu">
      <li class="tab-item is-active">
        <a href="#" class="tab-link" data-tab="tab-menu">TAP01</a>
      </li>
      <li class="tab-item">  
        <a href="#" class="tab-link" data-tab="tab-bookmark">TAP02</a>
      </li>
      <li class="tab-item">
        <a href="#" class="tab-link" data-tab="tab-history">TAP03</a>
      </li>
    </ul>
    <div class="tab-contents">
      <div class="tab-content is-active" data-tab-content="tab-menu">content1</div>
      <div class="tab-content" data-tab-content="tab-bookmark">content2</div>
      <div class="tab-content" data-tab-content="tab-history">content3</div>
    </div>
  </div>
<pre>
<code class="language-Markup">&lt;div class="ui-tab is-vertical">
  &lt;ul class="tab-menu">
    &lt;li class="tab-item is-active">
      &lt;a href="#" class="tab-link" data-tab="tab-menu">TAP01&lt;/a>
    &lt;/li>
    &lt;li class="tab-item">  
      &lt;a href="#" class="tab-link" data-tab="tab-bookmark">TAP02&lt;/a>
    &lt;/li>
    &lt;li class="tab-item">
      &lt;a href="#" class="tab-link" data-tab="tab-history">TAP03&lt;/a>
    &lt;/li>
  &lt;/ul>
  &lt;div class="tab-contents">
    &lt;div class="tab-content is-active" data-tab-content="tab-menu">content1&lt;/div>
    &lt;div class="tab-content" data-tab-content="tab-bookmark">content2&lt;/div>
    &lt;div class="tab-content" data-tab-content="tab-history">content3&lt;/div>
  &lt;/div>
&lt;/div></code>
</pre>
  <!-- //vertical -->

      <!-- 중첩 탭 -->
      <h2 class="component-title">Overlapping</h2>
      <div class="ui-tab">
        <ul class="tab-menu">
          <li class="tab-item  is-active"> 
            <a href="#" class="tab-link" data-tab="roundtab4">TAB01</a>
          </li>
          <li class="tab-item">  
            <a href="#" class="tab-link" data-tab="roundtab5">TAB02</a>
          </li>
          <li class="tab-item">
            <a href="#" class="tab-link" data-tab="roundtab6">TAB03</a>
          </li>
        </ul>
        <div class="tab-contents">
          <div class="tab-content is-active" data-tab-content="roundtab4">
            <div class="ui-tab is-round">
              <ul class="tab-menu">
                <li class="tab-item is-active">
                  <a href="#" class="tab-link" data-tab="roundtab1">TAB02-01</a>
                </li>
                <li class="tab-item">  
                  <a href="#" class="tab-link" data-tab="roundtab2">TAB02-02</a>
                </li>
                <li class="tab-item">
                  <a href="#" class="tab-link" data-tab="roundtab3">TAB02-03</a>
                </li>
              </ul>
              <div class="tab-contents">
                <div class="tab-content is-active" data-tab-content="roundtab1">TAB02 content1</div> 
                <div class="tab-content" data-tab-content="roundtab2">TAB02 content2</div>
                <div class="tab-content" data-tab-content="roundtab3">TAB02 content3</div>
              </div>
            </div>
          </div>
          <div class="tab-content" data-tab-content="roundtab5">TAB01 content2</div>
          <div class="tab-content" data-tab-content="roundtab6">TAB01 content3</div>
        </div>
      </div>
      <!-- //Round -->
    </main>
    <!-- //base-content -->
  </div>
  <!-- //base-wrap -->
   
  <!-- js library -->
  <script src="../../resources/js/lib/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>
</body>
</html>