<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRAVELOVER GUIDE</title>
  <link rel="shortcut icon" href="../../resources/images/common/favicon.ico">
  <!-- css library -->
  <link rel="stylesheet" href="../../resources/css/lib/tui-date-picker.min.css">
  <link rel="stylesheet" href="../../resources/css/lib/prism.css">
  <!-- css base -->
  <link rel="stylesheet" href="../../resources/css/base.css">
</head>
<body data-route="tooltip"> 
  <!-- base-wrap -->
  <div class="base-wrap component">
    <!-- base-header -->
    <header class="base-header"></header>
    <!-- //base-header -->
     
    <!-- base-aside -->
    <aside class="base-aside guide"></aside>
    <!-- //base-aside -->

    <!-- content -->
    <main class="base-content">
      <section>
        <h1 class="component-h1">Tooltip</h1>
  
  <h2 class="component-title">Hover</h2>
  <div class="wrap-flex">
    <div class="wrap-tooltip">
      Tooltip
      <div class="tooltip">
        <button type="button" class="btn-tooltip" data-type="hover" data-position="bottom"><span class="hidden">도움말</span></button>
        <div role="tooltip" class="tooltip-inner">
          <div class="tooltip-content">
            <p class="tooltip-desc">네트워크 이스케이프 해치의 사용 설정 여부입니다. 부팅 시 네트워크를 연결할 수 없는 경우, 이스케이프 해치는 기기 정책을 새로고침하기 위해 일시적으로 네트워크에 연결하라는 메시지를 사용자에게 표시합니다. 정책을 적용하면 적절한 네트워크가 없고 기기가 작업 잠금 모드에서 앱으로 부팅되거나 사용자가 기기 설정에 도달할 수 없는 경우 네트워크에 연결할 수 없는 문제를 방지할 수 있습니다.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <pre>
  <code class="language-Markup">&lt;div class="tooltip">
    &lt;button type="button" class="btn-tooltip" data-type="hover" data-position="bottom">&lt;span class="hidden">도움말&lt;/span>&lt;/button>
    &lt;div role="tooltip" class="tooltip-inner">
      &lt;div class="tooltip-content">
        &lt;strong class="tooltip-title">툴팁 타이틀&lt;/strong>
        &lt;p class="tooltip-desc">툴팁 텍스트&lt;/p>
      &lt;/div>
      &lt;button type="button" class="tooltip-close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
    &lt;/div>
  &lt;/div>
  </code>
  </pre>
  
    <h2 class="component-title">Click</h2>
    <div class="wrap-flex">
      <div class="wrap-tooltip">
        툴팁(right)
        <div class="tooltip">
          <button type="button" class="btn-tooltip" data-type="click" data-position="right"><span class="hidden">도움말</span></button>
          <div role="tooltip" class="tooltip-inner">
            <div class="tooltip-content">
              <strong class="tooltip-title">툴팁 타이틀</strong>
              <p class="tooltip-desc">툴팁 텍스트</p>
            </div>
            <button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
          </div>
        </div>
      </div>
      <div class="wrap-tooltip">
        툴팁(top)
        <div class="tooltip">
          <button type="button" class="btn-tooltip" data-type="click" data-position="top"><span class="hidden">도움말</span></button>
          <div role="tooltip" class="tooltip-inner">
            <div class="tooltip-content">
              <strong class="tooltip-title">툴팁 타이틀</strong>
              <p class="tooltip-desc">툴팁 텍스트</p>
            </div>
            <button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
          </div>
        </div>
      </div>
      <div class="wrap-tooltip">
        툴팁(bottom)
        <div class="tooltip">
          <button type="button" class="btn-tooltip" data-type="click" data-position="bottom"><span class="hidden">도움말</span></button>
          <div role="tooltip" class="tooltip-inner">
            <div class="tooltip-content">
              <strong class="tooltip-title">툴팁 타이틀</strong>
              <p class="tooltip-desc">툴팁 텍스트</p>
            </div>
            <button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
          </div>
        </div>
      </div>
      <div class="wrap-tooltip">
        툴팁(left)
        <div class="tooltip">
          <button type="button" class="btn-tooltip" data-type="click" data-position="left"><span class="hidden">도움말</span></button>
          <div role="tooltip" class="tooltip-inner">
            <div class="tooltip-content">
              <strong class="tooltip-title">툴팁 타이틀</strong>
              <p class="tooltip-desc">툴팁 텍스트</p>
            </div>
            <button type="button" class="tooltip-close"><span class="hidden">닫기</span></button>
          </div>
        </div>
      </div>
    </div>
  <pre>
  <code class="language-Markup">&lt;div class="wrap-tooltip">
    툴팁(right)
    &lt;div class="tooltip">
      &lt;button type="button" class="btn-tooltip" data-type="click" data-position="right">&lt;span class="hidden">도움말&lt;/span>&lt;/button>
      &lt;div role="tooltip" class="tooltip-inner">
        &lt;div class="tooltip-content">
          &lt;strong class="tooltip-title">툴팁 타이틀&lt;/strong>
          &lt;p class="tooltip-desc">툴팁 텍스트&lt;/p>
        &lt;/div>
        &lt;button type="button" class="tooltip-close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="wrap-tooltip">
    툴팁(top)
    &lt;div class="tooltip">
      &lt;button type="button" class="btn-tooltip" data-type="click" data-position="top">&lt;span class="hidden">도움말&lt;/span>&lt;/button>
      &lt;div role="tooltip" class="tooltip-inner">
        &lt;div class="tooltip-content">
          &lt;strong class="tooltip-title">툴팁 타이틀&lt;/strong>
          &lt;p class="tooltip-desc">툴팁 텍스트&lt;/p>
        &lt;/div>
        &lt;button type="button" class="tooltip-close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="wrap-tooltip">
    툴팁(bottom)
    &lt;div class="tooltip">
      &lt;button type="button" class="btn-tooltip" data-type="click" data-position="bottom">&lt;span class="hidden">도움말&lt;/span>&lt;/button>
      &lt;div role="tooltip" class="tooltip-inner">
        &lt;div class="tooltip-content">
          &lt;strong class="tooltip-title">툴팁 타이틀&lt;/strong>
          &lt;p class="tooltip-desc">툴팁 텍스트&lt;/p>
        &lt;/div>
        &lt;button type="button" class="tooltip-close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div>
  &lt;div class="wrap-tooltip">
    툴팁(left)
    &lt;div class="tooltip">
      &lt;button type="button" class="btn-tooltip" data-type="click" data-position="left">&lt;span class="hidden">도움말&lt;/span>&lt;/button>
      &lt;div role="tooltip" class="tooltip-inner">
        &lt;div class="tooltip-content">
          &lt;strong class="tooltip-title">툴팁 타이틀&lt;/strong>
          &lt;p class="tooltip-desc">툴팁 텍스트&lt;/p>
        &lt;/div>
        &lt;button type="button" class="tooltip-close">&lt;span class="hidden">닫기&lt;/span>&lt;/button>
      &lt;/div>
    &lt;/div>
  &lt;/div></code>
  </pre>
      </main>
    </section>
    <!-- //content -->
  </div>
  <!-- //base-wrap -->

  <!-- js library -->
  <script src="../../resources/js/lib/jquery.min.js"></script>
  <script src="../../resources/js/lib/tui-date-picker.min.js"></script>
  <script src="../../resources/js/lib/prism.js"></script>
  <!-- js base -->
  <script type="module" src="../../resources/js/common/ui.common.js"></script>

  <!-- page script -->
</body>
</html>