@charset "UTF-8";

/* Colors */
:root {
  --primary       : #1E8162;
  --primary-2     : rgba(14, 161, 95, 0.4);
  
  --secondary-1   : #145943;
  --secondary-2   : #35D9B5;
  --secondary-3   : #2F60BF;
  --secondary-4   : #123D92;
  --secondary-5   : #6639A0;
  --secondary-6   : #451B7B;

  --white         : #FFFFFF; 
  --black         : #000000;
  --grays-m       : #FAFAFA;  
  --grays-0       : #F5F5F5;
  --grays-1       : #DFDFDF;
  --grays-2       : #CACACA;
  --grays-3       : #B5B5B5;
  --grays-4       : #9F9F9F;
  --grays-5       : #8A8A8A;
  --grays-6       : #767676;
  --grays-7       : #5F5F5F;
  --grays-8       : #494949;
  --grays-9       : #343434;

  --system-1      : #FA2829;
  --system-2      : #FFAA00;
  --system-3      : #04B014;

  --baseBg        : #FBFDFF;
}